<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playground</title>

    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>

    <div class="header"> Fortran Playground Alpha </div>
    
    <div  id="editor"></div>

    <div class="button-container">
        <button class="btn" onclick="executeCode()"> Run </button>
    </div>

    <div class="output">
        {{output}}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/lib/ace.js"></script>
    <script src="/static/js/lib/theme-monokai.js"></script>
    <script src="/static/js/ide.js"></script>

</body>
</html>